.git
.gitignore
.vscode

venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache

front/node_modules
front/dist

docs
*.md

backend/db.sqlite3
backend/.env
backend/.env.*
!backend/.env.example

ml_data/data/predicted/*
ml_data/data/processed/*
ml_data/data/raw/*
!ml_data/data/**/.gitkeep
