# Ядро системы
django==5.0.3
djangorestframework==3.15.1
django-cors-headers==4.3.1  # Критично для связи с Vue 3

# Аутентификация (JWT для мобильной версии и SPA)
djangorestframework-simplejwt==5.3.1

# Работа с базой данных (PostgreSQL для продакшена)
psycopg2-binary==2.9.9
dj-database-url==2.1.0      # Удобная настройка БД через URL (важно для Render)

# Аналитика и Прогнозы
pandas==2.2.1               # Обработка временных рядов
scikit-learn==1.4.1.post1   # Базовые модели регрессии для прогноза
statsmodels==0.14.1         # Анализ сезонности и трендов

# Документация API (чтобы фронтендеры видели эндпоинты)
drf-spectacular==0.27.1

# Окружение и Деплой
python-dotenv==1.0.1        # Хранение секретов (ключи, пароли) в .env
gunicorn==21.2.0            # Сервер для работы на Render/Linux
whitenoise==6.6.0           # Раздача статики (CSS/JS админки) без Nginx
